
*{
	margin: 0;
	padding: 0
}
root { 
    display: block;
}
.hide
{
	display: none;
}
body {
	padding-bottom: 40px;
	padding-top: 40px;
}

.footer_container{display: block;position: absolute;bottom: 0; left: 0;right: 0;background: #555;}
a:hover{color: #ee3d6b !important;}
.hiliteTBBlue:hover
{
	color: #549cfc !important;
}
page
{
	clear: both;
	display: block;
	position: relative;
}
.page-header
{
	/*	overflow: auto;*/
	/*	height: 40px;  
		margin-bottom: 55px;*/
}
ul.data-grid li
{
	/*	width: 125px;*/
	float: left;

	list-style: none;
	height: 180px;
	margin: 0 20px 30px 0;
	width: 152px;
}
.small_user_icon .profile_icon {
	float: left;
	height: 20px;
	margin-right: 5px;
	margin-top: 4px;
	overflow: hidden;
	width: 20px;
}
.grid-item-image a .teammark {
	bottom: 15px;
	height: 12px;
	line-height: 14px;
	padding: 2px 5px;
	right: 1px;
}
.teammark {
	background-color: #CC0066;
	color: #FFFFFF;
	opacity: 0.8;
	position: absolute;
}
.grid-item-image
{
	position: relative;	
	background: url("/images/idea_shadow_m.png") no-repeat scroll left bottom transparent;
	height: 152px;
	padding-bottom: 14px;
	width: 152px;	
}
.grid-item-image img
{
	border: 1px solid #ddd;
}
.hiliteTBBlue
{
	color: #3288ff !important;
}
.hiliteTBGray
{
	color: #bdbdbd !important;
}
.topbar h3 a, .topbar .brand
{
	color: inherit;
	font-size: 28px;
	padding:3px 16px 5px;
}
.topbar h3
{
	color: #3288ff
}
.topbar h3 a img
{
	vertical-align: middle;
	margin-left: -12px;
	width:44px;
}
.clearfix button
{
	margin-left: 150px;
}
.profile_link a.title
{
	font-size: 10px;
}
a.oneline {
	display: block;
	max-height: 14px;
	overflow: hidden;
	font-size: 10px;
}
.content
{
	border: 1px dotted #DDDDDD;
	padding: 20px;
	position: relative;
	border-radius: 8px;
}
.topbar .topbar-inner .container form input
{

}
.container-fluid>.sidebar ul li
{
	list-style: none;
	text-transform: capitalize;
	color: #666;
}
.container-fluid>.sidebar
{

	margin-top: 90px;
	border-top: 1px solid #dedede;
	padding: 5px;
	width: 184px;
	font-family: "myriad-pro-1",Myriad Web Pro,Myriad Web,Myriad Pro,Segoe,Calibri,Helvetica Neue,Helvetica,Frutiger,Arial,sans-serif;
	font-size: 12px;
}
body>.container
{
	/*	padding-top: 50px;*/
}
.justify p
{
	text-align: justify;
}
.logoAnchor:hover
{
	color: #549cfc !important;
}
.modal-header {
	border-bottom: 1px solid #EEEEEE;
	padding: 20px 15px;
}
.modal-header h3
{
	font-size: 35px;
	margin-left: 55px;
}
#signupModal .modal-body {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #EEEEEE;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 0;
	padding-top: 0;
}
#userConnectModal .modal-header h3
{
	margin-top: 30px;
}
#signupModal .modal-header
{
	padding-top: 0;
}
div.topPromo {
	background-color: #E8ECDC;

	border-bottom: 1px solid #DADFCB;
	margin: 40px auto 30px;
	padding: 20px 0 0;
	width: 100%;
	height: 376px;
	z-index: -11000;
}
#homePromoHolder h1
{
	font-size: 48px;
	margin-top: 47px;
	text-align: center;

}
#homePromoHolder img
{
	width: 80%;
}
#homePromoHolder
{
	/*	height: 430px;*/
	text-align: center;
}
.modal
{
	width: 650px;
}
#userConnectModal label
{
	font-weight: bold;
	color: #777;
}
.pressBadgeHolder
{
	text-align: center;
	margin-top: 40px
}
form .clearfix.error input, form .clearfix.error textarea
{
	background: #fee1e5;
}
.editGravatarBtn {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #AAAAAA;
	height: 20px;
	padding: 4px 3px 1px;
	position: absolute;
	right: 1px;
	text-align: center;
	top: 1px;
	width: 20px;
}
#settingsGravatarHolder
{
	position: relative;
	display: inline-block;
}
.logoAnchor
{
	padding-top: 10px;
	position: relative;
	line-height: 36px;
	display: block;
    float: left;
    font-weight: 200;
    line-height: 1;
	font-size: 20px;
}
a.logoAnchor:hover
{
	text-decoration: none;
}
.logoAnchor img
{
	margin-left: -5px;
	margin-top: -9px;
	vertical-align: middle;
	width: 23%;
}
.userCollection span
{
	margin: 0 2px;
}
.userCollection .label
{
	padding: 3px 11px 3px;
}
.userCollection
{
	background: #efefef;
	padding: 10px 1px 13px 22px;
	border: solid #ddd;
	border-width: 0 0 1px 0;
	margin: -8px 0 50px 0;
}
#resultsContainer img
{
	bottom: 0;
	left: 0;
	max-height: 200px;
	max-width: 200px;
	position: absolute;
	width: 100%;
}
#resultsContainer
{

}
.itemResultHolder
{
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 0;
	float: left;
	height: 365px;
	padding: 20px 10px 10px;
	z-index: 1;
	overflow: hidden;
	max-width: 200px
}
#packageBar
{
	position: fixed;
	top: 86px;
	right: 10px;
	z-index: 9998;
	box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}
.ui-draggable-dragging
{
	opacity: .3;
}
.expose
{
	right: 0;
}
.bury
{
	right: -205px;
}
#packageBarIconContainer
{
	/*	position: absolute;*/
	top: 5px;
}
#packageBarContentContainer ul li h3
{
	text-wrap: none;
}
#packageBarContentContainer ul li h3 img
{
	vertical-align: middle;
	margin-left: -4px;
}
#packageBarContentContainer p
{
	margin: 0;
	padding: 0
}
#packageBarContentContainer ul
{
	margin: 10px;
	padding: 0;
	clear: both;
}
#packageBarContentContainer ul li a.remove{float: right}
#packageBarContentContainer ul li
{
	background: none repeat scroll 0 0 rgba(243, 237, 208, 1);
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #e8e0b9;
	list-style: none outside none;
	margin: 10px 0;
	padding: 9px 12px;
	width: 100%;
	text-align: center;
	position: relative;
	overflow: hidden
}
li.packageDefaultMessage{background: none !important; border: none !important;}
#packageBarContentContainer
{
	position: relative;
}
p.itemResultTitle
{
	max-width: 160px;
}
#resultsContainer
{
	/*	overflow: auto;*/
}
.result_count, .total_count
{
	color: #3288FF !important;
}
.input-micro
{
	width: 20px;
}
.searchForm{position: relative;}
packageBarContentContainer ul li{list-style: none;}
.sidebar-nav {    padding: 9px 0;}
form .buttonContainer{margin-top: 10px;}
.productImgContainer{min-height: 200px;text-align: center;position: relative;}
.packageItemDataContainer{white-space: nowrap}
.packageItemDataContainer input{float: left}
.packageBarItemDescription{float: left;    line-height: 27px;    margin-left: 9px;}
ul.wishList li{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 6px 6px 6px 6px;
	float: left;
	/*	height: 200px;*/
	list-style: none outside none;
	margin: 0 5px 0 6px;
	padding: 10px 2px;
	text-align: center;
	width: 22%;
}
.wishListImgContainer img{max-width: 180px; max-height: 200px;width: 100%;}
.wishListImgContainer{text-align: center;min-height: 200px}
/*ul.wishList{margin: 0}*/
.wishListDataContainer{min-height: 104px;
					   overflow: auto;
					   padding: 10px 17px;
					   text-align: left;}
.wishTitle{font-weight: bold}
p.wishDescription{font-size: .8em;line-height: 12px;}
#packageBarContentContainer h3{}
span .price{}